{% extends "base.html.twig" %}
{% block title %}About{% endblock %}
{% block body %}

<main>
    <h1>Five-Card-Poker</h1>

    <a class="game-button" href="{{ absolute_url(path('proj/poker/game')) }}">Play Five-Card-Poker</a>


</main>
{% endblock %}
