@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
header {
  background-color: #171545;
  margin: 0;
  padding: 0;
}
header h1 {
  margin-top: 0;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  margin-bottom: 0;
  padding: 1rem;
  padding-bottom: 0;
  color: #fff;
}

nav {
  margin: 0;
}
nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}
nav ul a {
  list-style: none;
  width: 33%;
  text-align: center;
  background-color: #171545;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
}
nav ul a:hover {
  background-color: #F04646;
}

footer {
  margin-top: 1rem;
  background-color: #171545;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  text-align: center;
  min-height: 600px;
}
footer a {
  display: inline-block;
  font-size: 3rem;
  font-style: normal;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
}
main h1 {
  font-size: 2rem;
  margin: 0 auto;
  font-family: "IBM Plex Mono", monospace;
  font-size: 3rem;
}
main h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  margin: auto;
}
main figure {
  display: flex;
  flex-direction: column;
  padding: 0;
}
main figure img {
  max-width: 500px;
  margin: 0 auto;
}
main figure figcaption {
  margin: 0 auto;
  margin-top: 1rem;
  font-family: "EB Garamond", serif;
  font-style: italic;
}
main p {
  margin-bottom: 0;
  font-family: "EB Garamond", serif;
}

article {
  margin-bottom: 2rem;
}
article h4 {
  margin-bottom: 5px;
}
article p {
  margin-bottom: 3rem;
}

.heart, .diamond {
  color: red;
}

.spade, .clover {
  color: black;
}

.deck-field {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 300px;
}

.button-container {
  margin: 0 auto;
  display: flex;
  max-width: 400px;
  min-width: 250px;
  flex-wrap: wrap;
  justify-content: center;
}
.button-container .game-button {
  width: 100%;
}

.card {
  flex: 2 0 7%;
  border: 2px solid black;
  min-height: 100px;
  height: 100px;
  max-width: 65px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.player {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.player p {
  width: 100%;
  text-align: center;
}

.player21 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: seagreen;
  padding: 1rem;
  min-height: 180px;
}
.player21 p {
  width: 100%;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
}

.game-control {
  display: flex;
  align-items: center;
}
.game-control ul {
  width: 50%;
}
.game-control ul a {
  text-decoration: none;
}
.game-control ul li {
  list-style: none;
  background-color: #F04646;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 10px;
  color: black;
}
.game-control ul li:hover {
  background-color: #171545;
  color: #fff;
}
.game-control form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F04646;
  padding: 0.5rem;
}
.game-control form input {
  margin: auto;
  width: 25%;
  margin-bottom: 10px;
}

.game-button {
  list-style: none;
  background-color: #F04646;
  width: 45%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  color: black;
  text-decoration: none;
  border-radius: 50px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.75rem;
}

.quit {
  background-color: red;
}

.stay {
  background-color: cornflowerblue;
}

.deal {
  background-color: orange;
}

.game-button:hover {
  text-decoration: underline;
}

.cardCounter {
  background-color: tomato;
  padding: 1rem;
  font-family: "IBM Plex Mono", monospace;
}

body {
  background-color: #fff;
  margin: 0 auto;
}

/* Library Style */

.booktable {
  /* background-color: #F04646; */
  text-align: left;
  border: 2px solid black;
}

tr {
  outline: 1px solid black;
  /* background-color: #F04646; */
}

td, th{
  outline: 1px solid black;
  padding: 5px;
}

.isbn {
  text-align: right;
}

.bookTitle {
  font-size: 2rem;
}

.authorTitle {
  font-size: 1.5rem;
}

.bookCover {
  max-height: 250px;
  max-width: 150px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
