@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
header {
  background-color: #171545;
  margin: 0;
  padding: 0;
}
header h1 {
  margin-top: 0;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  margin-bottom: 0;
  padding: 1rem;
  padding-bottom: 0;
  color: #fff;
}

p {
    margin-bottom: 1rem;
}

nav {
  margin: 0;
}
nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}
nav ul a {
  list-style: none;
  width: 33%;
  text-align: center;
  background-color: #171545;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
}
nav ul a:hover {
  background-color: #F04646;
}

footer {
  margin-top: 1rem;
  background-color: #171545;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  text-align: center;
  min-height: 300px;
}
footer a {
  display: inline-block;
  font-size: 3rem;
  font-style: normal;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
}
main h1 {
  font-size: 2rem;
  margin: 0 auto;
  font-family: "IBM Plex Mono", monospace;
  font-size: 3rem;
  margin-bottom: 2rem;
}
main h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  margin: auto;
  margin-bottom: 1rem;
}
main figure {
  display: flex;
  flex-direction: column;
  padding: 0;
}
main figure img {
  max-width: 500px;
  margin: 0 auto;
}
main figure figcaption {
  margin: 0 auto;
  margin-top: 1rem;
  font-family: "EB Garamond", serif;
  font-style: italic;
}
main p {
  margin-bottom: 0;
  font-family: "EB Garamond", serif;
}

.heart, .diamond {
  color: red;
}

.spade, .clover {
  color: black;
}

.deck-field {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 2 0 7%;
  border: 2px solid black;
  min-height: 100px;
  height: 100px;
  max-width: 65px;
  display: flex;
  justify-content: center;
}

.player {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.player p {
  width: 100%;
  text-align: center;
}

.game-control {
  display: flex;
  align-items: center;
}
.game-control ul {
  width: 50%;
}
.game-control ul a {
  text-decoration: none;
}
.game-control ul li {
  list-style: none;
  background-color: #F04646;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 10px;
  color: black;
}

.game-button {
  list-style: none;
  background-color: #F04646;
  width: 25%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  color: black;
  text-decoration: none;

}

.game-button:hover {
    text-decoration: underline;
}

.game-control ul li:hover {
  background-color: #171545;
  color: #fff;
}
.game-control form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  background-color: #F04646;
  padding: 0.5rem;
}
.game-control form input {
  margin: auto;
  width: 25%;
  margin-bottom: 10px;
}

body {
  background-color: #fff;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
