{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block body %}


<main>
    <h1>{{ title }}</h1>

    <h2>Welcome to the card game Twenty-One!</h2>

    <p>The rules for the game are similar to that of the more familiar game of BlackJack, with one of the major differences being that the dealer plays against one player at the time instead of against several different players at once.</p>

    <p>Both the player and the dealer will try to get as close as possible to a score of 21 with two or more cards, if you go over 21 points you automatically loose.</p>

    <p>The dealer will first place a bet and deal one card to the player, the player can then view their first card and place their own bet. The players bet cannot be higher than the dealers. After the bet is placed the player receives a second card, they may choose to get another card to get closer to 21 or stay with their current cards. Once the player chooses to stay the dealer will deal themselves cards until they are satisfied.</p>

    <p>When both parties are happy with their cards the player and dealer will turn their cards over, the one that is closest to 21 wins, if it is a tie the dealer wins.</p>

    <p>Aces are 1 or 14, Jacks 11, Queens, 12, Kings 13, and numbered cards are worth their face value.</p>

    <a class="game-button" href="{{ absolute_url(path('twentyone')) }}">Start game</a>
</main>


{% endblock %}
