.heart, .diamond {
    color: $card-red;
}

.spade, .clover {
    color: $card-black;
}

.deck-field {
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
    justify-content: center;
    // margin-bottom: 5rem;
    min-height: 300px;

}

.button-container {
    margin: 0 auto;
    display: flex;
    max-width: 400px;
    min-width: 250px;
    flex-wrap: wrap;
    justify-content: center;

    .game-button {
        width: 100%;
    }
}
.card {
    flex: 2 0 7%;
    border: 2px solid black;
    min-height: 100px;
    height: 100px;
    max-width: 65px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.cardHidden {
    flex: 2 0 7%;
    border: 2px solid black;
    min-height: 100px;
    height: 100px;
    max-width: 65px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.player {
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    p {
        width: 100%;
        text-align: center;
    }
}

.player21 {
    // min-width: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: seagreen;
    padding: 1rem;
    min-height: 180px;


    p {
        width: 100%;
        text-align: center;
        font-family: $title-font;
    }
}

.game-control {
    display: flex;
    align-items: center;

    ul {
        width: 50%;

        a {
            text-decoration: none;
        }

        li {
            list-style: none;
            background-color: $light-bg;
            width: 50%;
            margin: auto;
            text-align: center;
            padding: 0.5rem;
            margin-bottom: 10px;
            color: black;
        }

        li:hover {
            background-color: $dark-highlight;
            color: $alternative-font-color;
        }
    }

    form {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        background-color: $light-bg;
        padding: 0.5rem;

        input {
            margin: auto;
            width: 25%;
            margin-bottom: 10px;
        }
    }
}

.game-button {
  list-style: none;
  background-color: #F04646;
  width: 45%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  color: black;
  text-decoration: none;
  border-radius: 50px;
  font-family: $title-font;
  font-size: 0.75rem;

}

.quit {
    background-color: red;
}

.stay {
    background-color: cornflowerblue;
}

.deal {
    background-color: orange;
}
.game-button:hover {
    text-decoration: underline;
}

.cardCounter {
    background-color: tomato;
    padding: 1rem;
    font-family: $title-font;
}
