footer {
    margin-top: 1rem;
    background-color: $dark-highlight;
    color: $alternative-font-color;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
    min-height: 600px;

    a {
        display: inline-block;
        // width: 5rem;
        // height: 5rem;
        font-size: 3rem;
        font-style: normal;
        text-decoration: none;
    }
}
