footer {
    margin-top: 1rem;
    background-color: $dark-highlight;
    color: $alternative-font-color;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
    min-height: 300px;
}
