@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
//Fonts
$header-font: 'Bebas Neue', cursive;
$title-font: 'IBM Plex Mono', monospace;
$text-font: 'EB Garamond', serif;


//Colors
$main-bg: #fff;
$dark-highlight: #171545;
$text-bg: #fff;
$light-highligt: #9a8c98;
$light-bg: #F04646;
$font-color: #a9a9a9;
$alternative-font-color: #fff;
// $text:
