{% extends "base.html.twig" %}
{% block title %}About{% endblock %}
{% block body %}

<main>
    <h1>About</h1>

    <p>MVC 채r en kurs i objektorienterade webbteknologier och programmeringstekniker. Vi kommer anv채nda oss av programmeringsspr책ket PHP under kursens g책ng. <a href="https://github.com/dbwebb-se/mvc">Kursens Git-repo</a>.</p>

    <figure>
        <img src="./img/php.jpg" alt="Laptop with PHP code">
        <figcaption>En bild som jag tycker passar till kursen.</figcaption>
    </figure>

</main>
{% endblock %}
