<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {# <link rel="stylesheet" href="/css/style.css"> #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <header>
    {% block headertitle %} <h1>MVC - Oscar Idberg</h1> {% endblock %}
        <nav>
            <ul>
                 <a href="./"><li>HOME</li></a>
                 <a href="./about"><li>ABOUT</li></a>
                 <a href="./report"><li>REPORT</li></a>

            </ul>
        </nav>
    </header>

    <body>
        {% block body %}{% endblock %}
    </body>

    <footer>
        <p>© 2022 - Oscar Idberg</p>
        <a href="https://github.com/oscaridberg/mvc"><span class="fa-brands fa-github"></span></a>
    </footer>
</html>
