{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}


<main>
    <h1>Home</h1>
    <figure>
        <img src="./img/me.jpg" alt="picture of me">
        <figcaption>En bild på mig, i lite varmare tider.</figcaption>
    </figure>

    <p>Mitt namn är Oscar Idberg, som just nu är bosatt i Karlshamn, Blekinge. Jag har bott på flera olika ställen såväl i Sverige som utomlands, men är ursprungligen från Malmö även om det inte hörs på min dialekt. Jag har tidigare studerat Digital Bildproduktion vid Campus Karlshamn, och har valt att fortsätta utveckla mina kompetenser genom att ge mig på webbprogrammering. Intresset för datorer och teknik har jag haft med mig så länge som jag kan minnas, men har aldrig riktigt vågat ge mig på programmering förens nu.</p>

    <p>Inför programstart spenderade jag några månader att försöka lära mig så mycket som jag orkade med efter arbetsdagarna, och lyckades samla på mig grundkunskaper i HTML, CSS, och JavaScript. Jag har vid tidigare tillfällen i livet velat lära mig programmering men har då fått för mig att det skulle vara för avancerat för mig, men nu när jag har suttit med det ett tag så verkar det inte vara super-duper svårt, än så länge i alla fall. Jag ser framemot att i den här kursen få utveckla kunskaper ännu mer inom de olika teknologierna som används på webben, det ska bli sälskilt kul att sätta sig in ännu mer i PHP.</p>

    <p>På min fritid om jag inte sitter framför datorn så tycker jag om att laga mat, spendare tid med mina katter, odla grönsaker på sommaren, och att titta på serier såklart.</p>
</main>


{% endblock %}
