{% extends "base.html.twig" %}

{% block title %}Library{% endblock %}

{% block body %}


<main>
    <h1>Library</h1>

    <a class="game-button" href="{{ absolute_url(path('library')) }}/show">Show books</a>
</main>


{% endblock %}
