{% extends "base.html.twig" %}

{% block title %}Library{% endblock %}

{% block body %}


<main>
    <h1>Library</h1>

    <ul>
        <a href="{{ absolute_url(path('library')) }}/show"><li>Show books</li></a>
        <a href="{{ absolute_url(path('library')) }}/add"><li>Add book</li></a>
    </ul>
</main>


{% endblock %}
