{% extends "base.html.twig" %}
{% block title %}Report{% endblock %}

{% block body %}

<main>
    <h1>Reports</h1>

    <article class="report">
    {% include './reports/kmom01.html.twig' %}
    </article>

    <article class="report">
    {% include './reports/kmom02.html.twig' %}
    </article>

    <article class="report">
    {% include './reports/kmom03.html.twig' %}
    </article>

    <article class="report">
        {% include './reports/kmom04.html.twig' %}
    </article>
</main>

{% endblock %}
